/* FONTS — — — — — — — — — — — — */

$serif: serif;
$sans-serif: sans-serif;


/* COLORS — — — — — — — — — — — — */

$color-white: #fff;
$color-black: #000;
$color-yellow: yellow;


/* WIDTHS & SPACING — — — — — — — — — — — — */

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$spacing-l: 5rem;
$spacing-m: 3rem;
$spacing-s: 1rem;


/* MEDIA QUERIES — — — — — — — — — — — — */

$media-s: 700px;
$media-m: 960px;
$media-l: 1200px;
$media-xl: 1900px;


/* IN USE — — — — — — — — — — — — */

$color-background: $color-white;
$color-text: $color-black;
