/* FONTS — — — — — — — — — — — — */

$serif: 'Recife Text', serif;
$sans-serif: 'Good Sans', sans-serif;


/* COLORS — — — — — — — — — — — — */

$color-white: #fff;
$color-black: #000;
$color-yellow: yellow;


/* WIDTHS & SPACING — — — — — — — — — — — — */

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$spacing-l: 5rem;
$spacing-m: 3rem;
$spacing-s: 1rem;

$font-m: 1.8rem;
$font-l: 4.2rem;


/* MEDIA QUERIES — — — — — — — — — — — — */

$media-s: 700px;
$media-m: 1000px;
$media-l: 1600px;
$media-xl: 1900px;


/* IN USE — — — — — — — — — — — — */

$color-background: $color-white;
$color-text: $color-black;
